################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ecommerce-api/.vs/Ecommerce-api/FileContentIndex/ee0bd1d0-a478-4f0d-b731-697780bd89cf.vsidx
/Ecommerce-api/.vs/Ecommerce-api/FileContentIndex/750a1d67-8117-4d05-aa5b-2db936f03fcb.vsidx
/Ecommerce-api/.vs/Ecommerce-api/FileContentIndex/4c10817b-d34d-426f-acc1-4515cf15b0f0.vsidx
/Ecommerce-api/.vs/Ecommerce-api/FileContentIndex/158ee7f8-cdd3-4da2-ac26-57ca0c4fd75a.vsidx
/Ecommerce-api/.vs/Ecommerce-api/FileContentIndex/00c34b36-11c6-4665-ba02-10f1e8272a11.vsidx
/Ecommerce-api/.vs/Ecommerce-api/v16/.suo
*.v2
/Ecommerce-api/.vs/ProjectEvaluation
/Ecommerce-api/bin/Debug/net6.0
/Ecommerce-api/obj/Debug/net6.0/staticwebassets
/Ecommerce-api/.vs/Ecommerce-api/FileContentIndex
