<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <img src="../../../assets/ecommerce-logo1.jpg" alt="" class="image">

                        <h3 style="text-align: center;" class="mb-2  pb-md-0">Registration Form</h3>
                        <form #loginForm="ngForm" (ngSubmit)="register(loginForm.value)">
                            <div class="row">
                                <div class="col-md-6 ">

                                    <div class="form-outline">
                                        <input type="search" id="firstName" class="form-control "
                                            placeholder="First Name" name="firstName" ngModel #firstName="ngModel"
                                            required autocomplete="off"/>
                                        <div *ngIf="firstName.touched && !firstName.valid " class="error">
                                            FirstName is requried
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 ">

                                    <div class="form-outline mb-4">
                                        <input type="text" id="lastName" class="form-control " placeholder="Last Name"
                                            name="lastName" ngModel #lastName="ngModel" required autocomplete="off"/>
                                        <div *ngIf="lastName.touched && lastName.invalid" class="error">
                                            LastName is requried
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control " autocomplete=" " placeholder="Email" name="email"
                                    [ngModel] #email="ngModel" required />
                                <div *ngIf="email.touched && email.invalid" class="error">
                                    Email is requried
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <select class="select form-control" id="countrycode" placeholeder="Country Code"
                                        name="countrycode" [(ngModel)]="Code" #countrycode="ngModel" required>
                                        <option value="" disabled>Country Code</option>
                                        <option *ngFor="let country of countryCode" value="{{country.code}}">
                                            {{country.name}} {{country.code}}</option>
                                    </select>
                                    <div *ngIf="countrycode.touched && countrycode.invalid" class="error">
                                        <div *ngIf="countrycode.errors?.['required']">countrycode is requried</div>
                                    </div>
                                </div>
                                <div class="col-md-8 mb-6">
                                    <div class="form-outline">
                                        <input type="tel" id="phoneNumber" class="form-control "
                                            placeholder="Phone Number" name="phoneNumber" [ngModel]
                                            #phoneNumber="ngModel" required maxlength="10" autocomplete="off"/>
                                        <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="error">
                                            <div *ngIf="phoneNumber.errors?.['required']">Phone Number is requried</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="password" id="passWord" class="form-control " placeholder="Password"
                                            name="passWord" ngModel #passWord="ngModel" required autocomplete="off"/>
                                        <div *ngIf="passWord.touched && !passWord.valid " class="error">
                                            Password is requried
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="password" id="ConfirmPassword" class="form-control "
                                            placeholder="Confirm Password" name="ConfirmPassword" ngModel
                                            #ConfirmPassword="ngModel" required autocomplete="off"/>
                                        <div *ngIf="ConfirmPassword.touched && !ConfirmPassword.valid " class="error">
                                            Confirm Password is requried
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="pt-6">

                                <input class="btn btn-primary btn-lg" [disabled]="!loginForm.valid" type="submit"
                                    value="Submit" />

                                <div>
                                    <p class="mb-0" style="text-align: center;">Already member? <a
                                            [routerLink]="['/login']" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}"
                                            class="text-blue-50 fw-bold">Login</a>
                                    </p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>