<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
    <button type="button" data-bs-toggle="modal" data-bs-target="#ResetPasswordModal" class="btn btn-primary btn-sm">
        Reset Password
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="update()">Update Profile</button>
</div>
<div class="dispaly-Profile">
    <div class="card" >
        <div class="card-body" *ngIf="!updateprofile">
            <h5 class="card-title">
                {{ this.user.firstName + " " + this.user.lastName }}
            </h5>
            <label >FirstName : </label>{{ " " + this.user.firstName }}<br />
            <label >LastName : </label>{{ " " + this.user.lastName}}<br />
            <label >Email : </label>{{ " " + this.user.email }}<br />
            <label >Phone Number : </label>{{ " " + this.user.phoneNumber }}<br />
            <label >House/Appartment : </label>{{ " " + this.user.address1 == null ? "" :this.user.address1}}<br />
            <label >Area/Locality : </label>{{ " " + this.user.address2 == null ? "" :this.user.address2}}<br />
            <label >District : </label>{{ " " + this.user.district == null ? "" : this.user.district}}<br />
            <label >State : </label>{{ " " + this.user.state == null ? "" : this.user.state }}<br />
            <label >Country : </label>{{ " " + this.user.country == null ? "" : this.user.country}}<br />
            <label >PinCode : </label>{{ " " + this.user.pincode == null ? "" : this.user.pincode}}<br /><br />
            <br />
            <button (click)="DeleteAccount()" class="btn btn-primary btn-sm">
                Delete Account
            </button>
        </div>
       
    </div>
    
    <!-- ResetPassword Modal -->
    <div class="modal fade" id="ResetPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reset Password..?</h5>
                </div>
                <form #resetPassword="ngForm">
                    <div class="modal-body">
                        <div class="form-outline mb-4">
                            <input type="text" id="passWord" class="form-control" placeholder="Password" name="passWord"
                                [(ngModel)]="profile.password" #passWord="ngModel" required />
                            <div *ngIf="passWord.touched && !passWord.valid">
                                Password is requried
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="ConfirmPassword" class="form-control" placeholder="Confirm Password"
                                name="ConfirmPassword" [(ngModel)]="profile.confirmPassword" #ConfirmPassword="ngModel"
                                required />
                            <div *ngIf="ConfirmPassword.touched && !ConfirmPassword.valid">
                                Confirm Password is requried
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closebutton>
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="resetPassword.invalid"
                            (click)="ResetPassword()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>